{% extends "base.html" %}

{% load static from staticfiles %}

{% block extra-js %}
{% endblock extra-js %}

{% block bodyclass %}{% endblock bodyclass %}
{% block middle %}
  <!-- Banner -->
  <section>
      <div class="row">
          <div></div>
                        <section class="4u 6u(medium) 12u$(small)">
                            <h3>You: {{ user.username }}</h3>
                            <h5>Joined {{ user.date_joined }}</h5>
                            <h5>Local Govt. {{ user.account.lga }} in {{ user.account.lga.state }}</h5>
                            <h5>District: {{ user.account.lga.district }}</h5>
                            <h5>Constituency: {{ user.account.lga.constituency }}</h5>
                        </section>
                        <section class="4u 6u$(medium) 12u$(small)">
                            <h3>Conversations</h3>
                            <p>There are no conversations yet.</p>
                            <ul class="alt">
                            </ul>
                        </section>
                        <section class="4u 6u$(medium) 12u$(small)">
                            Reps member: ({% if user.account.lga.representative.is_active %}Active{% else %}Pending{% endif %}</li>)
                            <ul>
                                <li><strong>{{ user.account.lga.representative }}</strong></li>
                                <li>Phone:</li>
                                <li>Email: </li>
                                <li>Twitter: </li>
                                <li>Facebook: </li>
                            </ul>
                            Senator: ({% if user.account.lga.senator.is_active %}Active{% else %}Pending{% endif %}</li>)
                            <ul>
                                <li><strong>{{ user.account.lga.senator }}</strong></li>
                                <li>Phone:</li>
                                <li>Email: </li>
                                <li>Twitter: </li>
                                <li>Facebook: </li>
                            </ul>
                        </section>
          <div></div>
      </div>
  </section>
{% endblock middle %}
{% block fb %}
{% endblock fb %}
