{% extends "core/base.html" %}

{% load static from staticfiles %}

{% block extra-js %}
<script type="text/javascript">
$(function(){
  $('#id_state').change(function(){
      var state_id = $("#id_state option:selected").val();
      console.log(state_id);
      $.getJSON("/get_lgas?state=" + state_id, function(data) {
          $('#id_lga').html('<option value="">SELECT LGA</option>');
          $.each(data, function(key, val){
              console.log(val);
              $('#id_lga').append('<option value="' + val.pk + '">' + val.fields.name + '</option>');
              });
          });
      });

  $('#id_lga').change(function(){
      $('.btn-block').removeAttr('disabled');
  });
});
</script>
{% endblock extra-js %}

{% block innerbody %}
  <!-- Banner -->
  <section id="banner">
      <h4>Welcome {{ user.username }} </h4>
    <div class="wrap">
    <!-- start-contact-form --> 
                    <div class="contact-form">
                    <!-- start-form -->
                    <form class="lga_form" action="#" method="post" name="lga_form" id="lga_form">{% csrf_token %}
                        <h3><strong>One more thing!</strong><br /> We need to know your local govt area</h3>
                        <div class="form-group">
                            <select name="state" id="id_state" class="form-control">
                                <option value="">Select your State of Residence</option>
                                    {% for state in states %}
                                       <option value="{{state.pk}}">{{state}}</option>
                                    {% endfor %} 
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="lga" id="id_lga" class="form-control">
                                <option value="">Select your LGA</option>
                                    {% for state in states %}
                                       <option value="{{state.pk}}">{{state}}</option>
                                    {% endfor %} 
                            </select>
                        </div>
                                <input class="btn btn-block btn-lg btn-primary" disabled="disabled" type="submit" name="complete" value="Complete"/>
                                <div class="clear"></div>   
                        </form>
                    <!-- end-form -->
                    <div class="clear"></div>   
</div>
  </section>
{% endblock innerbody %}
