{% extends 'tax/form_base.html' %}
{% load static from staticfiles %}

{% block pagetitle %}Taxpayer Registration(Companies){% endblock pagetitle %}

{% block extra-js %}
<script type="text/javascript">
    $(function(){
		var total_output = 0;
		
		
		$('#s_calc').click(function(){
			var total = $('#s_total').val();
			var zero = $('#s_exempted').val();
			var adjust = $('#s_adjustment').val();
			var s_adjust = 0;
			if (isNaN(zero))
				zero = 0;
			if (!isNaN(adjust))
				s_adjust = parseInt(adjust);
		
			
			if (isNaN(total)){
				alert("Please enter a valid value for Total supplies (Note: don't use currency symbols)");
			} else {
				var s_vat = parseFloat(total).toFixed(2) - parseFloat(zero).toFixed(2);
				var s_charged = 5 * s_vat / 100;
				var typecharged = typeof s_charged;
				var typeadjust = typeof s_adjust;
				//console.log(typeadjust);
				//console.log(typecharged);
				var s_output = s_charged + s_adjust;
				$('#s_vat').val(s_vat);
				$('#s_charged').val(s_charged);
				$('#s_output').val(s_output);
				total_output = s_output;
			}
			
		});
		
		$('#p_calc').click(function(){
			//console.log("Total output is " + total_output);
			var supplies = $('#p_supplies').val();
			var adjust = $('#p_adjust').val();
			var pimport = $('#p_import').val();	
			//var total = $('#p_total').val();
			var unused = $('#p_unused').val();
			var source = $('#p_source').val();
			
			var p_supplies = 0;
			var p_adjust = 0;
			var p_import = 0;
			var p_unused = 0;
			var p_source = 0;
			
			if (!isNaN(supplies))
				p_supplies = parseFloat(supplies);
			
			if (!isNaN(adjust))
				p_adjust = parseFloat(adjust);
			
			if (!isNaN(pimport))
				p_import = parseFloat(pimport);
			
			var p_total = p_supplies + p_adjust + p_import;
			
			if (!isNaN(unused))
				p_unused = parseFloat(unused);
			
			if (!isNaN(source))
				p_source = parseFloat(source);
			
			var total_deduction = p_total - p_unused - p_source;
			var total_payable = total_output - total_deduction;
			
			$('#p_total').val(p_total.toFixed(2));
			$('#id_total_deduction').val(total_deduction.toFixed(2));
			$('#id_total_payable').val(total_payable.toFixed(2));
		});
    });
</script>
{% endblock extra-js %}

	{% block breadcrumb %}
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Tax</a></li>
        <li class="active">Value Added Tax Return</li>
    </ul>
    <!-- END BREADCRUMB -->
	{% endblock breadcrumb %}

{% block midpanel-heading %}
    <h3 class="panel-title">Start New Topic</h3>
{% endblock midpanel-heading %}

{% block link %}

{% endblock link %}

{% block pagecontent %}
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="panel panel-default tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">VAT</a></li>
     
                    </ul>

                    <div class="panel-body tab-content">
						
						<!-- START FIRST-TAB -->
                        <div class="tab-pane active" id="tab-first">

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Taxpayer Identification Number</label>
                                <div class="col-md-3 col-xs-6"> 
                                    <input type="text" class="form-control" value="xxxxxx" disabled />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Name</label>
                                <div class="col-md-3 col-xs-6"> 
                                    <input type="text" class="form-control" value="Ade Emeka Hassan" disabled />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Address</label>
                                <div class="col-md-6 col-xs-12"> 
                                    <textarea rows="3" class="form-control" value="" disabled>47, Planet Road. Ebute Metta, Lagos.</textarea>
                                </div>
                            </div>
							
                            <!-- START MONTH INPUT -->
                            <div class="panel panel-default">
								
                                <div class="panel-body">
                                    <h3>Time covered by this return</h3>
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">Start of Month</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <div class="input-group">
		                                      <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
		                                      <input type="text" class="form-control datepicker" value="2015-12-01"/>
									 
		                                    </div>
										
		                                </div>
		                            </div>
									
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">End of Month</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <div class="input-group">
		                                      <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
		                                      <input type="text" class="form-control datepicker" value="2015-12-01"/>
									 
		                                    </div>
										
		                                </div>
		                            </div>
                                </div>
                            </div>                        
                            <!-- END OF MONTH INPUT -->		
							
                            <!-- START SUPPLIES INPUT -->
                            <div class="panel panel-default">
								
                                <div class="panel-body">
                                    <h3>(Supplies/Income) VAT on supplies made by you</h3>
									
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">Total supplies made in period (with VAT)</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <input id="s_total" type="text" class="form-control" value=""/>
		                                </div>
		                            </div>
									
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">Exempted/Zero-rated supplies</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <input id="s_exempted" type="text" class="form-control" value=""/>
		                                </div>
		                            </div>
									
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">Total supplies subject to VAT</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <input id="s_vat" type="text" class="form-control" value="" disabled />
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">VAT charged by you</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <input id="s_charged" type="text" class="form-control" value="" disabled />
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">VAT adjustment</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <input id="s_adjustment" type="text" class="form-control" value="" />
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">Total Output VAT</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <input id="s_output" type="text" class="form-control" value=""/>
		                                </div>
										<div class="col-md-3 col-xs-6">
											<button class="btn btn-default pull-left" type="button" id="s_calc">Calculate</button>
										</div>
		                            </div>
									
		                     
                                </div>
                            </div>                        
                            <!-- END OF SUPPLIES INPUT -->
							
                            <!-- START PURCHASES INPUT -->
                            <div class="panel panel-default">
								
                                <div class="panel-body">
                                    <h3>(Purchases/Expenses) Deduction of VAT of purchases made</h3>
									
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">VAT on Domestic supplies/purchases</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <input type="text" class="form-control" value="" id="p_supplies" />
		                                </div>
		                            </div>
									
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">VAT adjustment</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <input type="text" class="form-control" value="" id="p_adjust" />
		                                </div>
		                            </div>
									
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">VAT on imports (where applicable)</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <input type="text" class="form-control" value="" id="p_import" />
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">Total VAT payable by you</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <input type="text" class="form-control" value="" id="p_total" disabled />
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">VAT on purchases not wholly used in making VATable supplies</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <input type="text" class="form-control" value="" id="p_unused" />
		                                </div>
										<span class="help-block"></span>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">VAT taken at source</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <input type="text" class="form-control" value="" id="p_source" />
		                                </div>
										<div class="col-md-3 col-xs-6">
											<button class="btn btn-default pull-left" type="button" id="p_calc">Calculate</button>
										</div>
		                            </div>
									
		                     
                                </div>
                            </div>                        
                            <!-- END OF PURCHASES INPUT -->
							
                            <!-- START TOTAL INPUT -->
                            <div class="panel panel-default">
								
                                <div class="panel-body">
                                    <h3>TOTAL DEDUCTIONS</h3>
									
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">Total Deductions (Input Tax)</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <input type="text" class="form-control" value="" id="id_total_deduction" disabled />
		                                </div>
		                            </div>
									
		                            <div class="form-group">
		                                <label class="col-md-3 col-xs-12 control-label">Amount payable/refundable</label>
		                                <div class="col-md-3 col-xs-6"> 
		                                    <input type="text" class="form-control" value="" id="id_total_payable" disabled />
		                                </div>
		                            </div>
									
	 							   <div class="panel-footer">
	 							   	   <button class="btn btn-primary pull-right">Submit</button>
	 							   </div>
		                    
                                </div>
                            </div>                        
                            <!-- END OF TOTAL INPUT -->


                        </div>
						
						<!-- END FIRST-TAB -->
						
			   
					  
					</div>
										
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock pagecontent %}

{% block midpanel-body %}
<form action="" class="form-horizontal" method="post">{% csrf_token %}
<div class="form-group{% if form.name.errors %} has-error{% endif %}">
    <label class="control-label col-md-2 col-xs-12">Topic</label>
    <div class="col-md-8 col-xs-12">
        {% if form.name.errors %}
             <label class="control-label">{{ form.name.errors }}</label>
        {% endif %}
        {{ form.name }}
    </div>
</div>

<div class="form-group{% if form.post.errors %} has-error{% endif %}">
    <label class="control-label col-md-2 col-xs-12">Post</label>
    <div class="col-md-8 col-xs-12">
        {% if form.post.errors %}
             <label class="control-label">{{ form.post.errors }}</label>
        {% endif %}
        {{ form.post }}
    </div>
</div>
<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <button class="btn btn-block btn-primary">Post</button>
    </div>
</div>
</form>
{% endblock midpanel-body %}

{% block midpanel-footer %}
{% endblock midpanel-footer %}